@import url('https://fonts.googleapis.com/css?family=Boogaloo|Mali|Neucha|News+Cycle&display=swap');


  #map {
        height: 50%;
        width:50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
header {
    background-color: #a4e55e;
}

/*elements*/
h1, a, label {
    font-family: 'Mali', 'News Cycle', sans-serif, 'Neucha', 'Boogaloo', cursive, 'Comic Sans MS', arial, helvetica;

}

h2, h3, h4 {
    font-family: 'Neucha', 'Boogaloo', cursive, 'Comic Sans MS', arial, helvetica;
}

p, span, .headerUsername {
    font-family: 'News Cycle', sans-serif, 'Neucha', 'Boogaloo', cursive, 'Comic Sans MS', arial, helvetica;
}

img {
    border-radius: 10px;
    height: 250px;
    width: 250px;
}

a {
    text-decoration: none;
    color: blue;
}

a:visited {
    font-size: 14px;
    color: green;
}

a:hover {
    text-decoration: underline;
}

input, textarea {
    font-family: 'News Cycle', sans-serif, 'Neucha', 'Boogaloo', cursive, 'Comic Sans MS', arial, helvetica;
    font-size: 14px;
    padding: 10px 5px;
    margin: 5px;
    border-radius: 5px 10px;
    background-color: white;
}

input {
    width: 250px;
}

input[type=submit] {
    border-radius: 10px;
    background-color: #d5e0f2;
    font-family: 'News Cycle', sans-serif, 'Neucha', 'Boogaloo', cursive, 'Comic Sans MS', arial, helvetica;
    font-size: 16px;
    transition: ease-in-out, width .35s ease-in-out;
}

input[type=submit]:hover {
    background: #92f4f4;
}


input[type=reset] {
    width: 100px;
    border-radius: 10px;
    background-color: #a0efc6;
    font-family: 'News Cycle', sans-serif, 'Neucha', 'Boogaloo', cursive, 'Comic Sans MS', arial, helvetica;
    font-size: 16px;
    transition: ease-in-out, width .35s ease-in-out;
}

input[type=reset]:hover {
    background: #8cdef7;
}

nav a {
    margin: 0 40px 0 40px;
}

a {
    margin: 10px;
}

button, .aboutB {
    background: #cc2112;
    color: white;
    border-radius: 10px;
    margin: 60px 0;
    font-family: 'News Cycle', sans-serif, 'Neucha', 'Boogaloo', cursive, 'Comic Sans MS', arial, helvetica;
    font-size: 16px;
    padding: 10px 5px;
}

button:hover, .aboutB {
    background: #ed5f53;
    color: black;
}

#red {
    margin-bottom: -20px;
    color: red;
}

.margin {
  margin: 0 auto;
}

.bold {
    color: #4286f4;
}

/* username in header, fragment - src: https://rainbowcoding.com/2011/12/02/how-to-create-rainbow-text-in-html-css-javascript/*/
header {
    font-size: 40px;
     background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
     background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
     color:transparent;
     -webkit-background-clip: text;
     background-clip: text;
     font-weight: bolder;
}

#homeImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  border: 5px solid blue;
}


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.center {
  display: block;
  text-align: center;
  margin-top: 45px;
}

.header {
 text-align: center;
}

.foot {
 color: #1e471d;
 text-align: center;
 flex-shrink: 0;
}

