<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Potluck</title>
</head>
<body>
  <h1>Create new PotLuck</h1>
<form  action="/Potluck"   method="post">

        Potluck Name: <input type="text" name="eventname" />
        dateofPotluck: <input type="date" name="dateofPotluck" />
        Location: <input type="text" name="location" />

    <!--<button type="submit">Generation code</button>-->
        <input type="submit" />

</form>

</body>
</html>