<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new Potluck</title>
</head>
<body>
<div th:replace="fragments/loggedInHeader :: header(principal=${principal})"></div>

  <h1>Create a New PotLuck Event!</h1>

<form  action="/Potluck"   method="post">

        Potluck Name: <input type="text" name="eventname" />
        Date of the Potluck: <input type="date" name="dateofPotluck" />
        Location: <input type="text" name="location" />

    <!--<button type="submit">Generation code</button>-->
        <input type="submit" />

</form>
  <div th:replace="fragments/footer :: foot"></div>
</body>
</html>