<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new Potluck</title>
    <link href="/styles.css" rel="stylesheet" />

</head>
<body>
<div th:replace="fragments/loggedInHeader :: header(principal=${principal})"></div>

  <h1>Create a New PotLuck Event!</h1>

<form  action="/Potluck"   method="post">

    <label>Potluck Name: <input type="text" name="eventname" /></label><br/>
    <label>Date of the Potluck: <input type="date" name="dateofPotluck" /></label><br/>
    <label>Location: <input type="text" name="location" /></label><br/>
    <label>Additional Details: <br/><textarea rows="5" cols="70" name="details"></textarea></label>
    <br/>
    <input type="submit" />

</form>
  <div th:replace="fragments/footer :: foot"></div>
</body>
</html>