<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="/generalCss.css" rel="stylesheet" />
</head>
<body>

<div th:if="${principal == null}">
    <div th:replace="fragments/header :: header"></div>
</div>
<div th:if="${principal != null}">
    <div th:replace="fragments/loggedInHeader :: header(principal=${principal})"></div>
</div>

<h1 id="homeTitle">Do you feel Potlucky? Well, do ya?</h1>
<p class="homeParagraph">We are the one stop shop for organizing your Potluck. Create an event. Invite friends and acquaintances with your exclusive
    code. We take the hassle out of coordinating. No stress! Just enjoy your time!</p>
<img src="/potluckDinner1.jpeg" alt="Potluck Dinner" width="400px" id="homeImg"><br>
<div th:replace="fragments/footer :: foot"></div>
</body>