<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/styles.css" rel="stylesheet" />

</head>
<body>

<div th:if="${principal == null}">
    <div th:replace="fragments/header :: header"></div>
</div>
<div th:if="${principal != null}">
    <div th:replace="fragments/loggedInHeader :: header(principal=${principal})"></div>
</div>


<h2 th:if="${user}">Welcome, [[${user.firstname}]]</h2>

<form th:if="${user}" action="/search" method="get">
    Potluck Code: <input type="text" name="code" />
    <input type="submit" value="Search" />
</form>

<div th:if="${user}">
<div th:if="${mypotlucks}">
    <h3>My Potlucks</h3>
<ul>
    <li th:each="p:${mypotlucks}">
        <a th:href="'/Potlucks/'+${p.id}">
       <p th:text="${p.eventname}"></p>
        <p th:text="${p.dateofPotluck}"></p>
        </a>
    </li>
</ul>
</div>

<div th:if="${attendingpotlucks}">
    <h3>Attending Potlucks</h3>
    <ul>
        <li th:each="p:${attendingpotlucks}">
            <a th:href="'/Potlucks/'+${p.id}">
                <p th:text="${p.eventname}"></p>
                <p th:text="${p.dateofPotluck}"></p>
            </a>
        </li>
    </ul>
</div>

</div>
<div th:replace="fragments/footer :: foot"></div>
</body>
</html>