<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link href="/styles.css" rel="stylesheet" />
    <link href="/generalCss.css" rel="stylesheet" />

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<section class="center">
    <form action="/login" method="POST">
        <label>Username: <input name="username" type="text" placeholder="username" required /></label>
        <label>Password: </label><input name="password"  type="password" placeholder="password" required />
        <input type="submit" />
    </form>
</section>

<div th:replace="fragments/footer :: foot"></div>
</body>
</html>