<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>log in</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
</div><h1>Log In !!</h1>
<div class="row">
    <form action="/login" method="POST">
        <input name="username" type="text"/>
        <input name="password"  type="password"/>
        <input type="submit" />
    </form>
</div>

<a href="/">Home</a>
<div th:replace="fragments/footer :: foot"></div>
</body>
</html>