<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PotLuck Detail</title>
    <link href="/styles.css" rel="stylesheet" />

</head>
<body>
<div th:replace="fragments/loggedInHeader :: header(principal=${principal})"></div>

<div th:if="${notcreator==false}">
    <p>Do you want to to go</p>
    <form th:action="'/Potlucks/'+${newPotluck.id}" method="post">
        <input type='submit' name='action' value='yes' />
        <input type='submit' name='action' value='no' />
    </form>
</div>

<h1 th:text="'Event Name: ' + ${newPotluck.eventname}"></h1>

<div th:if="${curruser==false}" >

    <p th:text="'Creator: ' + ${newPotluck.creator.firstname}+' ' +${newPotluck.creator.lastname}"></p>

    <p th:text="'Date: ' + ${newPotluck.dateofPotluck}"></p>

    <p th:text="'Location: ' + ${newPotluck.location}"></p>
    <p>Additional Details: </p>
    <p th:text="${newPotluck.details != null} ? ${newPotluck.details} : none"></p>

</div>

<form th:if="${curruser==true}" action="/updateDetails" method="post">
<p class="bold">Date:
    <input type="date" th:value="${newPotluck.dateofPotluck}" name="dateofPotluck"/>

<p class="bold">Location:
    <input th:value="${newPotluck.location}" name="location"/>
</p>
<p class="bold">Additional Details:</p>
    <textarea rows="5" cols="60" th:text="${newPotluck.details}" name="details"></textarea>
<p class="bold" th:text="${'ShareCode: ' + newPotluck.code}"></p>
    <input type="submit" name="update" value="Update Details" />

</form>

<h3>List of Items for the event:</h3>
<span th:if="${newPotluck.attendees.size() == 0 }">This list is empty.</span>
<ul th:if="${newPotluck.potluckItemList.size() > 0 }">
    <li th:each="item :${newPotluck.potluckItemList}">
        <p th:text="${item.user.username}+': '+${item.item}+${item.quantity}">
        <form th:if="${principal.name==item.user.username}" th:action="'/delete/potluckitems/'+${item.id}" method="POST">
            <input type="submit" value="Delete This Item" />
        </form>
        </p>
    </li>
</ul>


<form th:if="${curruser!=null}" th:action="@{/addItem}" method="POST">
    Item: <input type="text" name="itemName" /> Quantity: <input type="number" name="quantity" min="1"/>
    <input type="submit" value="add" />
</form>


<div th:if="${newPotluck.attendees.size()>0}">
    <h3>Here is the list of people planning to attend this event</h3>
    <ul>
        <li th:each="attendee : ${newPotluck.attendees}">

            <p th:text="${attendee.firstname}+' '+${attendee.lastname}"></p>

        </li>
    </ul>
</div>
<br/>
<form th:if="${curruser==true}" th:action="'/delete/'+${newPotluck.id}" method="POST">
    <button type="submit" class="delete"> Delete This Potluck </button>
</form>


<div th:replace="fragments/footer :: foot"></div>
</body>
</html>