<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>PotLuck Detail</title>
    <style>
      #map {
        height: 50%;
        width:50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body>
<script th:inline="javascript">
   /*<![CDATA[*/
      function initMap() {

        var myLatLng = {lat: [[${newPotluck.mapResult[0]}]], lng: [[${newPotluck.mapResult[1]}]]};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: '[[${newPotluck.location}]]'
        });
      }
      /*]]>*/
    </script>
<script async defer
        th:src="'https://maps.googleapis.com/maps/api/js?key='+${@environment.getProperty('GEOCODE_API_KEY')}+'&callback=initMap'">
</script>
<div th:replace="fragments/loggedInHeader :: header(principal=${principal})"></div>

<div th:if="${notcreator==false}">
    <p>Do you want to to go</p>
    <form th:action="'/Potlucks/'+${newPotluck.id}" method="post">
        <input type='submit' name='action' value='yes' />
        <input type='submit' name='action' value='no' />
    </form>
</div>

<h1 th:text="${newPotluck.eventname}"></h1>
Creator: <p th:text="${newPotluck.creator.firstname}+' ' +${newPotluck.creator.lastname}"></p>
Date: <p th:text="${newPotluck.dateofPotluck}"></p>
Location: <p th:text="${newPotluck.location}"></p>
<div id="map"></div>
<!--<img th:src="'https://maps.googleapis.com/maps/api/staticmap?center='+${#strings.toString(newPotluck.mapResult[0])}+'%2c%20'+${#strings.toString(newPotluck.mapResult[1])}+'&zoom=13&size=600x300&maptype=roadmap&key='+${@environment.getProperty('GEOCODE_API_KEY')}" />-->

Additional Details: <p th:if="${curruser==false}" th:text="${newPotluck.details != null} ? ${newPotluck.details} : none"></p>
    <form th:if="${curruser==true}" action="/updateDetails" method="post">
        <textarea rows="5" cols="60" th:text="${newPotluck.details}" name="details"></textarea>
    <input type='submit' name='update' value='Update Details' /></form>
<p th:if="${curruser==true}" th:text="${'ShareCode: ' + newPotluck.code}"></p>


<p>List of Items for the event:</p>
<span th:if="${newPotluck.attendees.size() == 0 }">This list is empty.</span>
<ul th:if="${newPotluck.potluckItemList.size() > 0 }">
    <li th:each="item :${newPotluck.potluckItemList}">
        <p th:text="${item.user.username}+':'+${item.item}+${item.quantity}">
        <form th:if="${principal.name==item.user.username}" th:action="'/delete/potluckitems/'+${item.id}" method="POST">
            <button type="submit">Delete This Item</button>
        </form>
        </p>
    </li>
</ul>


<form th:if="${curruser!=null}" th:action="@{/addItem}" method="POST">
    Item: <input type="text" name="itemName" /> Quantity: <input type="number" name="quantity" min="1"/>
    <input type="submit" value="add" />
</form>


<div th:if="${newPotluck.attendees.size()>0}">
    <h3>Here is the list of people planning to attend this event</h3>
    <ul>
        <li th:each="attendee : ${newPotluck.attendees}">

            <p th:text="${attendee.firstname}+' '+${attendee.lastname}"></p>

        </li>
    </ul>
</div>

<form th:if="${curruser==true}" th:action="'/delete/'+${newPotluck.id}" method="POST">
    <button type="submit">Delete This Potluck</button>
</form>


<div th:replace="fragments/footer :: foot"></div>
</body>
</html>